<!DOCTYPE html>
<html class="core" lang="zh-Hans">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>登录</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta name="copyright" content="众杰能">
	<meta name="robots" content="index,follow">
	<meta name="author" content=""> 
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="default" />
	<meta property="og:locale" content="zh-Hans">
	<link inline rel="stylesheet" type="text/css" href="styles/observe.css">
</head>
<body>
<div class="container">
	<div class="title-container">策略观察系统界面</div>
	<div class="content-container">
		<div class="float left-container directory">
			<div class="category">
				<h3>A 大盘</h3>
				<h4 class="category_2">A.1 短期_资金类</h4>
				<ul class="category_3">
					<li>A.1.1 博弈/存量指标</li>
					<li>A.1.2 融资买入/可用担保价值</li>
				</ul>
				<h4>A.2 短期_情绪类</h4>
				<ul>
					<li>A.2.1 综合性情绪指标</li>
					<li>A.2.2 强势股占比</li>
					<li>A.2.3 风险偏好</li>
					<li>A.2.4 换手率</li>
				</ul>
				<h4>A.3 长期_板块个股的估值分布</h4>
			</div>
			<div class="category">
				<h3 class="category_1">B 行业/风格</h3>
				<h4 class="category_2">B.1 短期_行业循环模型</h4>
				<ul>
					<li>B.1.1 速度/加速度</li>
					<li>B.1.2 年化日换手率的历史分位</li>
				</ul>
				<h4>B.2 短期_风格活跃度观察：</h4>
				<ul>
					<li>B.2.1 板块相对换手率</li>
				</ul>
				<h4>B.3 中期_HP滤波后的行业估值</h4>
			</div>
		</div>
		<div class="float right-container">右边</div>
	</div>

</div>

</body>

</html>